{
  "jsc": {
    "parser": {
      "syntax": "typescript"
    }
  },
  "module": {
      "type": "umd",
      "globals": {},

      // These are defaults.
      "strict": false,
      "strictMode": true,
      "lazy": false,
      "noInterop": false
    }
}
